.outterBox{
     background-color:#1a282c75;
      width:100px; 
      height:600px;
       margin:60px;
        border-radius:25px;
        position:fixed;
}

#Conveter {
       width:86px;
        height:30px;
      background: linear-gradient(275deg,rgba(159, 199, 204, 1) 0%, rgba(0, 157, 181, 1) 100%);
    display:flex;
     align-items:center;
    justify-content:center;   
        border-radius: 15px;
        margin-top:45px;
        margin-left:6px;
        /* position:relative; */
        border:none;
        cursor:pointer;
}
.changeLocation {
       width:86px;
        height:30px;
      background: linear-gradient(275deg,rgba(159, 199, 204, 1) 0%, rgba(0, 157, 181, 1) 100%);
    display:flex;
     align-items:center;
    justify-content:center;   
        border-radius: 15px;
        margin-top:45px;
        margin-left:6px;
        /* position:relative; */
        border:none;
        cursor:pointer;
}

.AskAI {
       width:86px;
        height:30px;
      background: linear-gradient(275deg,rgba(159, 199, 204, 1) 0%, rgba(0, 157, 181, 1) 100%);
    display:flex;
     align-items:center;
    justify-content:center;   
        border-radius: 15px;
        margin-top:45px;
        margin-left:6px;
        /* position:relative; */
        border:none;
        cursor:pointer;
}

.SignOut {
       width:86px;
        height:30px;
      background: linear-gradient(275deg,rgba(159, 199, 204, 1) 0%, rgba(0, 157, 181, 1) 100%);
    display:flex;
     align-items:center;
    justify-content:center;   
        border-radius: 15px;
        margin-top:45px;
        margin-left:6px;
        /* position:relative; */
        border:none;
        cursor:pointer;
}
.aclass{
          text-decoration:none;
        color:#000;
       display:flex;
       align-items:center;
       justify-content:center;
       cursor:pointer;
     
}
