.backGroundBox{
    margin-left: 550px;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-color:hsla(193, 26%, 14%, 0.459);
    border-radius: 15px;
    position: fixed;
}

.HeadingClass{
    margin-top: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SectionForInput{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#State{
    margin-left: 15px;
}


.Submit{
    border: none;
    background: linear-gradient(275deg,rgba(159, 199, 204, 1) 0%, rgba(0, 157, 181, 1) 100%);
    border-radius: 15px;
    width: 113px;
    height: 25px;
     margin-left: 200px;
    margin-top: 50px;
}