.sectionclass {
  width: 250px;
  height: 650px;
  background-color: #1a282c75;
  margin-top: -350px;
  margin-left: 1250px;
  border-radius: 25px;
  /* position: fixed; */
}

.block {
  margin-top: 60px;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
}
.loclass {
  margin-bottom: 60px;
  margin-right: 15px;
  margin-left: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.Hclass {
  color: #fff;
  margin-top: 15px;
  margin-left: 50px;
  font-size: 18px;
}
.pclass {
  color: #fff;
  font-size: 18px;
}

.hrclass {
  width: 210px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.imgclass {
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.inputclass {
  width: 125px;
  height: 65px;
  font-size: 25px;
  margin-left: 35px;
  margin-top: -1.5px;
  margin-bottom: 55px;
  background: transparent;
  border: none;
  color: #fff;
}
